.logo {
  float: left;
  display: flex;
  align-items: center;
  height: 100%;

  &_search {
    margin-left: -40px;
  }

  img {
    height: 40px;
    margin-right: 10px;
  }

  span {
    color: #fff;
    font-size: 16px;
  }
}

// 屏蔽用户的拖拉选择
.layoutHeader {
  // border-bottom: 1px solid #ebebeb;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #f0f2f5 !important;
}
