.logo {
  float: left;
  display: flex;
  align-items: center;

  span {
    font-size: 18px;
    color: #fff;
  }
}

// 屏蔽用户的拖拉选择
.main-layout-header {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #f0f2f5 !important;
}
