.user-board-container {
  display: flex;
  color: #fff;
  align-items: center;
  height: 100%;
  float: right;
  justify-content: center;

  li {
    list-style-type: none;
    width: 60px;
    cursor: pointer;
    text-align: center;
  }
}
